.footer {
    background: #F6F6F6;
    padding: 50px 0 20px;
    font-family: "Josefin Sans", sans-serif;
  }
  
  .footer-top {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .footer-col {
    flex: 1;
    min-width: 220px;
    margin-bottom: 30px;
  }
  
  .logo-col {
    flex: 1.5;
  }
  
  .footer-logo {
    max-width: 280px;
    margin-bottom: 20px;
    margin-left: -10px;
  }
  
  .footer-question {
    font-weight: 600;
    font-size:20px;
    margin-bottom: 15px;
  }
  
  .footer-col h4 {
    font-weight: 600;
    font-size:20px;
    margin-bottom: 15px;
  }
  
  .footer-col ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .footer-col ul li {
    margin-bottom: 10px;
  }
  
  .footer-col ul li a {
    text-decoration: none;
    color: #000;
    transition: color 0.3s;
  }
  
  .footer-col ul li a:hover {
    color: #F7B848;
  }
  
  .footer-social-icons {
    display: flex;
    gap: 15px;
    margin-top: 10px;
  }
  
  .footer-social-icons a {
    font-size: 20px;
    color: #000;
    transition: color 0.3s;
  }
  
  .footer-social-icons a:hover {
    color: #555;
  }
  
  .footer-bottom {
    border-top: 1px solid #eee;
    text-align: center;
    margin-top: 30px;
    padding-top: 15px;
    font-size: 14px;
  }
  .footer-social-icons a {
    display: inline-block;
    margin-right: 10px;
    font-size: 20px;
    color: black;
    transition: transform 0.3s ease, color 0.3s ease;
  }
  
  .footer-social-icons a:hover {
    color: #F7B848; 
    transform: translateY(-3px); /* slight lift effect on hover */
  }





  